#welcome {
    text-align: center;
    background: red;
}

#myform {
    text-align: center;
    margin-top: 20px;
}

#form-btn {
    width: 300px;
    margin-top: 5px;
}
#myselect {
    width: 300px;
}
#lab{
    margin: 10px;
}